version: '3'
services:
  graph-node:
    container_name: kroma-indexer
    image: graphprotocol/graph-node:latest
    deploy:
      resources:
        limits:
          memory: 4G
    ports:
      - '8000:8000'
      # Subgraph WebSocket subscriptions 
      #- '8001:8001'
      - '8020:8020'
      - '8030:8030'
      # Prometheus Metrics
      #- '8040:8040'
    depends_on:
      - postgres
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: https://ipfs.network.thegraph.com
      GRAPH_ETH_CALL_BY_NUMBER: 1
      GRAPH_ALLOW_NON_DETERMINISTIC_IPFS: 1
      ethereum: "kroma-sepolia:archive,traces:https://api.sepolia.kroma.network/"
      RUST_LOG: info
      GRAPH_POI_ACCESS_TOKEN: 'sushi'
  postgres:
    image: postgres
    ports:
      - '7432:5432'
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      POSTGRES_INITDB_ARGS: --encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
